body {
  background: #282c34;
}

a {
  text-decoration: none;
}

h1 {
  color: #ffffff;
}

.Nav {
  background: #282c34;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  transform: scale(1.05);
}